{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./frontend/styles.css"
}
