{% macro hx_get(url, trigger="revealed", target="this", swap="innerHTML", indicator_classes="spinner") %}
  <div class="htmx-lazy-load"
       hx-get="{{ url }}?format=html"
       hx-trigger="{{ trigger }}"
       hx-target="{{ target }}"
       hx-swap="{{ swap }}"
       hx-indicator="#lazy-load-indicator-{{ range(1, 9999)|random }}">
    <div id="lazy-load-indicator-{{ range(1, 9999)|random }}" 
         class="htmx-indicator {{ indicator_classes }}">
      Loading...
    </div>
  </div>
{% endmacro %}