{% extends 'base.html' %}
{% block content %}
    <h1>Linux Users on the System</h1>

    <p>Listing all real system users</p>

    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>User ID</th>
                    <th>Home Directory</th>
                    <th>Shell</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="/home/{{ user.username }}">{{ user.username }}</td>
                        <td>{{ user.uid }}</td>
                        <td>{{ user.home_dir }}</td>
                        <td>{{ user.shell }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users found.</p>
    {% endif %}
{% endblock content %}
